html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row
{
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  display: table;
}

.team-member
{
  float: left;
  width: 30%;
  display: table-row;
}

.team-member img
{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
  display: block;
}

.card
{
  padding: 0 16px;
}

.card::after, .row::after {
  content: "";
  clear: both;
  display: table;
  
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
   
  }
}

.name
{
  color: #000000;
  text-align: center
}

.desc
{
  color: #666666;
  text-align: center;
  font-weight: bold
}

.school
{
  color: #666666;
  text-align: center
}
