html {
  box-sizing: border-box;
}

.container{
  width: 100%; 
  display: flex; 
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row
{
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%; 
  max-width: 1024px; 
  display: flex; 
  flex-wrap: wrap; 
}

.team-member
{
  float: left;
  display: table-row;
}

.team-member img
{
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 200px;
  height: 200px;
  display: block;
}

.card
{
  padding: 0 16px;
}

.card::after, .row::after {
  content: "";
  clear: both;
  display: table;
  
}

.column {
  width: 33.3%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;   
  }
}

.name
{
  color: #000000;
  text-align: center
}

.desc
{
  color: #666666;
  text-align: center;
  font-weight: bold
}

.school
{
  color: #666666;
  text-align: center
}