.row
{
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  display: table;
}

.team-member
{
  float: left;
  width: 30%;
  display: table-row;
}

.team-member img
{
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  height: 100%;
  display: block;
  transform: rotate(90deg);
}

.name
{
  color: #000000;
  text-align: center
}

.desc
{
  color: #666666;
  text-align: center;
  font-weight: bold
}

.school
{
  color: #666666;
  text-align: center
}
