
.row-dash {
  text-align: center;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

.course-dash {
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-right: 50px;
  margin-bottom: 50px;
  outline: 2px solid black;
}
